<h1>Inscription de
	{{contact.firstname}}
	{{contact.lastname}}
</h1>

<ul>
	<li>Prénom:
		{{contact.firstname}}</li>
	<li>Nom:
		{{contact.lastname}}</li>
	<li>Email:
		{{contact.email}}</li>
	<li>Message:
		{{contact.message}}</li>
</ul>
