<h1>Inscription de
	{{student.firstname}}
	{{student.lastname}}
</h1>

<ul>
	<li>Prénom:
		{{student.firstname}}</li>
	<li>Nom:
		{{student.lastname}}</li>
	<li>Âge:
		{{student.age}}</li>
	<li>Téléphone:
		{{student.phone}}</li>
	<li>Email:
		{{student.email}}</li>
	<li>Pays:
		{{student.country}}</li>
	<li>Support:
		{{student.support}}</li>
	<li>Type de session:
		{{student.typeOfSession}}</li>
	<li>Heure par semaine:
		{{student.hoursPerWeek}}</li>
	<li>Professeur:
		{{student.prof}}</li>
	<li>Comment a t'il connu le site:
		{{student.findOurWebsite}}</li>
</ul>
